<div style="margin: 0 auto; width: 656px;", class="ui header">
    <font color="white" size= "5">
<% if !flash.empty? %>
<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
  <%end%>
<% end %><br>
<%= form_for @investment do |f| %>
<%= f.label :stock_id %>
<%= f.collection_select :stock_id, Stock.all, :id, :ticker %>
<%= f.label :quantity %>
<%= f.text_field :quantity %>
<%= f.submit %>
<%end %>
<br>
<%=link_to "Return to Home Page", user_path(current_user)%>
</font>
</div>
