<div style="margin: 0 auto; width: 656px;", class="ui header">
    <font color="white" size= "5">
<%= form_for @inappaccount do |f| %>
<%= f.label :user_id %>
<%= f.text_area :user_id %>
<%= f.label :amount %>
<%= f.text_area :amount %>
<%= f.submit %>
<% end %>
</font>
</div>
