<div style="margin: 0 auto; width: 656px;", class="ui header">
    <font color="white" size= "5">
<% if session[:user_id] == @user.id %>
<%@user.bank_accounts.map do |bankaccount| %>
<h1><%=bankaccount.name%>
<%=bankaccount.type_of_account%>
$<%=bankaccount.total_money%>.00<br></h1>
 <% end %>

 <%=link_to "Return to Home Page", user_path(current_user)%>
 <% else %>
 <h3> You can not view another user's Bank Account Information </h3><p></p>
 <%=link_to "Return to Home Page", user_path(current_user)%>
 <% end %>
 </font>
 </div>
