<div style="margin: 0 auto; width: 1000px;", class="ui header">

    <font color="white" size= "5">
        <h1>Users: </h1>
<% @users.each_with_index do |user, idx|%>
<h4><ul><%="#{idx + 1}. #{user.name}"%> || ||  (<%=user.username%>) || ||  <%= link_to "Visit User Profile", user_path(user)%> || ||
<%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %></ul></h4>
<% end %>
<br><br>
<%= link_to "Your Profile Page", user_path(current_user) %> <br><br>
<%= link_to "Log Out", logout_path, method: 'post', id: "Log Out" %>
</font>
</div>
