<h1>Name:</h1>
<h3><%=@user.name%></h3>
<h1>Username:</h1>
<h3><%=@user.username%></h3>
<% if session[:user_id] == @user.id  %>
<h1>Date of Birth:</h1>
<h3><%=@user.dob.strftime("%B %d, %Y")%></h3>
<h1>In App Money:</h1>
<h3>$<%=@user.in_app_account.amount%></h3>
<%= link_to "Transfer money to your in-app-account", transfer_path(current_user.id)%>
<br><br>
<% if @user.bank_accounts.any? %>
<h1>Available Money From Bank Accounts</h1>
<%acct = @user.bank_accounts.map do |bankaccount| %>
  <%bankaccount.total_money%>
  <%end.inject(:+)%>
  <h3>$<%= acct %></h3>
  <%= link_to "View all Bank Accounts", user_bankaccounts_path%>
<br><br>
<%= link_to "Add a Bank Account", new_bank_account_path %><br><br>
<% else %>
<h1>No Current Bank Accounts Linked to App</h1>
<%= link_to "Add a Bank Account", new_bank_account_path %><br><br>
<% end %>
<% if @user.investments.any? %>
<h1>Total Stock Invesments:</h1>
<%stock = @user.investments.map do |investment| %>
  <%investment.quantity * investment.stock.stock_price%>
  <%end.inject(:+)%>
  <h3>$<%=stock%></h3>
  <% else %>
  <h1>Total Stock Invesments:</h1>
<%stock = @user.investments.map do |investment| %>
  <%investment.quantity * investment.stock.stock_price%>
  <%end.inject(:+)%>
  <h3>$0<%=stock%></h3>
  <% end %>
<%= link_to "View Your Stock Purchases", user_investment_path%><br><br>
<%= link_to "View All Stocks", stocks_path%><br><br>
<%= link_to "Purchase a Stock", new_investment_path%><br><br><br><br>
<br><br>
<% end %>

<% if session[:user_id] != @user.id %>
  <%= link_to "Send money to #{@user.name}", friendship_transfer_path %>
<% end %>

<h2>Friends</h2>
<ul>
  <% for friendship in @user.friendships %>
    <li>
      <%=link_to friendship.friend.username, user_path(friendship.friend) %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>

<p><%= link_to "Find Friends", users_path %></p>
<%=link_to "Your Friends", user_friends_path%>

<h2>Friended by Users</h2>
<ul>
  <% for user in @user.inverse_friends %>
    <li><%=link_to user.username, user_path(user) %></li>
  <% end %>
</ul>

<%= link_to "Log Out", logout_path, method: 'post', id: "Log Out" %>
