<!DOCTYPE html>
<html>
  <head>
    <title>SspPrototype</title>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
<body>
  </header>
<%= yield %>

</body>
</html>


<div style="margin: 0 auto; width: 656px; text-align: center;", class="ui header">
<h1><font color="white" size= "7">Welcome to YaKush.ly</font></h1>

 <h3><font color = "white" size = "6"><%= link_to "Sign Up", new_user_path, :class => "home"%> <%= link_to "Sign In", signin_path, :class => "home"%></font></h3>
</div>
